@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: "IBMPlex";
    src: url("fonts/IBMPlex/IBMPlexMono-Regular.ttf") format("truetype");
}
#messages p { padding: 15px; font-size: 16px; border-radius: 3px;}
.container { margin-bottom: 20px;}
.container .menu { background-color: #F4F4F4; display: flex; justify-content: start; font-size: 18px; margin-bottom: 6px;}
.container .menu a { padding: 14px 20px;}
.container .menu a:hover { background-color: #adddf9; text-decoration: none;}
.container .archetypes-info { max-width: 600px;}
.container .archetypes-info .rule-remove { cursor: pointer;}
.container .link-decklists { margin-bottom: 12px;}
.container p[class^="bg-"] { padding: 15px;}
.strong {font-weight: bold;}
table.table-matchups {border-collapse: separate; border-spacing: 0 17px; table-layout: fixed; color: #555C70;}
table.table-matchups tbody * {font-family: "Metropolis", Cambria, serif;}
table.table-matchups tbody tr th {border-top: 0; text-align: center; vertical-align: bottom;}
table.table-matchups tbody tr td {text-align: center; vertical-align: middle; height: 80px; padding-top: 10px;
    border-style: solid; border-color: #9DA7C4; border-width: 1px 0 1px 0; background-color: white;}
table.table-matchups tbody tr td:first-of-type { border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-left-width: 1px;}
table.table-matchups tbody tr td:last-of-type { border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-right-width: 1px;}
table.table-matchups .matchup-deviation {font-size: 1.3em; line-height: 1em; border-top: 1px solid #55555529; padding-top: 8px; color: #919191;}
table.table-matchups .matchup-percent {font-size: 2.1em; margin: auto; margin-bottom: 5px; width: 80%; font-weight: bold;}
table.table-matchups .matchup-count {font-size: 1.3em;}
table td.matchup-total .matchup-percent { font-size: 2.3em; color: #222222;}
table.table-matchups th.matchup-archetype-image { width: 124px;}
table.table-matchups th.matchup-archetype-name { width: 200px;}
table.table-matchups th.matchup-total { width: 160px; font-size: 20px;}
table.table-matchups th.matchup-total .matchup-total-cell { color: white; background-color: #F5875E;
    border-radius: 6px 6px 0 0; border-width: 0; text-transform: uppercase; height: 100%; top: 8px; padding-top: 16px;}
table th.matchup-detail { width: 150px;}
table.table-matchups tbody .matchup-total { position: relative;}
table.table-matchups .matchup-total .matchup-total-cell { position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 21px);
    padding-top: 20px; background-color: white; border: 2px solid #555C70AC;}
table.table-matchups .matchup-archetype-image { height: 80px; background-position: top -30px right 50%;}
table.table-matchups .matchup-archetype-name { font-size: 20px;}
table.table-matchups td.matchup-archetype-name { text-align: left; padding-left: 14px; padding-right: 20px;}
table.table-matchups td.matchup-archetype-name .archetype-name { text-transform: uppercase; font-weight: bold;
    font-size: 1.05em; line-height: normal;}
table.table-matchups td.matchup-archetype-name .archetype-count { color: #9197a8; font-size: 0.9em;}
table.table-matchups tbody tr td:nth-child(2n+5) {background-color: #F7F5F5;}
table.table-matchups tbody tr td.matchup-negative {color: #C75C5C;}
table.table-matchups tbody tr td.matchup-positive {color: #56AC59;}
table.table-matchups tbody tr td.matchup-positive.matchup-highlighted,
table.table-matchups tbody tr td.matchup-positive.matchup-highlighted .matchup-total-cell {background-color: #EBF6E5;}
table.table-matchups tbody tr td.matchup-negative.matchup-highlighted,
table.table-matchups tbody tr td.matchup-negative.matchup-highlighted .matchup-total-cell {background-color: #F8EAEA;}
table.table-matchups tbody tr td.matchup-even { color: #5B6275;}
/*table.table-matchups tbody tr td[class*="matchup-"]:not(.matchup-archetype-name) {border-width: 3px; border-style: solid;}*/
table.table-matchups .round-dot { height: 32px; width: 32px; background-color: #DADEE8; border-radius: 50%; display: inline-block;}
table.table-matchups.table-legend { position: relative; border-spacing: 0; margin-right: 50px;}
table.table-matchups.table-legend td { width: 170px; height: 100px;}
table.table-matchups.table-legend .matchup-percent { border-bottom: 1px solid #55555529;}
table.table-matchups.table-legend .matchup-deviation { border-top: 0;}
table.table-archetypes th.archetype-image { width: 160px;}
table.table-archetypes td.archetype-image { height: 116px;}
table.table-archetypes td.archetype-name { font-weight: bold; font-size: 18px; text-transform: uppercase;}
table.table-archetypes * { font-family: Metropolis, serif;}
.container .matchups-container { padding: 30px 50px 30px; background: 0 0 /100% url("imgs/marble-white.png"); background-repeat: no-repeat;
    width: fit-content;}
.container .matchups-container .legend-container { display: flex;}
.container .matchups-container .legend { margin-right: 10px; font-size: 1.3em;}
.container .matchups-container .legend * { font-family: Metropolis, Arial, serif;}
.container .matchups-container .legend .matchup-highlighted { height: 40px; width: 46px; border-radius: 4px;
    border: 1px solid #555C70AC; margin-right: 6px; display: inline-block;}
.container .matchups-container .legend .matchup-positive { background-color: #EBF6E5;}
.container .matchups-container .legend .matchup-negative { background-color: #F8EAEA;}
.container .matchups-container h1 { font-family: "Gill Sans MT", Arial, serif; font-size: 5em; text-transform: uppercase;}
.container .matchups-container h3 { font-family: "Metropolis", Arial, serif; margin-top: 10px; font-size: 2.2em;}
.container .matchups-container hr { width: 5%; border-color: black; margin: 12px 0 10px;}
.container .winrate-slightly-negative {color: red;}
.container .winrate-negative {color: red; font-weight: bold;}
.container .winrate-slightly-positive {color: green;}
.container .winrate-positive {color: green; font-weight: bold;}
table.table-players tbody tr td {vertical-align: middle;}
table td.highlight { font-weight: bold}
table.archetype-analysis .card-exclude { color: red; font-size: 1.2em; cursor: pointer;}
table.archetype-analysis .card-include { color: green; font-size: 1.2em; cursor: pointer;}
.container form.loading { pointer-events: none; opacity: 0.6;}
.container .confidence-interval { font-size: 0.8em; font-style: italic;}

/* SEARCH FORM */
.container #search-form { margin-top: 40px; margin-bottom: 20px;}
.container #search-form .form-group { position: relative; width: 100%;}
.container #search-form input[type='text'] { padding: 30px 20px; font-size: 30px; font-weight: bold; color: #666666;
    padding-right: 60px; width: 100%;}
.container #search-form button[type='submit'] { position: absolute; right: 6px; top: 5px; font-size: 32px;
    background-color: transparent; color: #ff8d00; border: 0 solid transparent;}
.container #search-form button[type='submit']:focus {border: 0 solid transparent;}
.container #search-form button[type='submit']:active {box-shadow: none;}

/* METAGAME */
.table-metagame-container .background-placeholder { background: 0 0 /100% url("imgs/marble-white.png");
    background-repeat: no-repeat; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.4; z-index: -1;}
.table-metagame-container { border: 1px solid red; width: 1160px; height: 580px; padding: 14px 24px; position: relative;}
.table-metagame-container h2 { font-family: "Gill Sans MT", Arial, serif; font-size: 3em; text-transform: uppercase;
    margin-top: 0; margin-bottom: 5px;}
.table-metagame-container h3 { font-family: "Metropolis", Arial, serif; margin-top: 5px; font-size: 1.6em;}
.table-metagame-container hr { text-align: left; border-top-color: #000000; margin: 0;}
.table-metagame-container .legend p { font-family: 'Metropolis', Arial, serif; margin-bottom: 0;}
.table-metagame-container .legend-container .logo { width: 160px; margin-top: 0;}
.table-metagame-container .table-metagame { margin-bottom: 16px; margin-top: 8px;}
.table-metagame-container .table-metagame td { text-align: center; font-size: 20px; font-family: 'Gill Sans MT', Arial, serif;}
.table-metagame-container .table-metagame td sup.percent-placeholder { color: transparent;}
.table-metagame-container .table-metagame tr.metagame-deck-count { background-color: #EFEFEF;}
.table-metagame-container .table-metagame tr td.deck-legend { text-align: left; color: #9DA7C4; font-size: 12px; width: 90px;}
.table-metagame-container .table-metagame tr.metagame-deck-percent td,
.table-metagame-container .table-metagame tr.metagame-deck-count td { padding: 10px 20px;}
.table-metagame-container .table-metagame tr.metagame-deck-percent td:not(.deck-legend) { color: #EF845C; font-size: 29px; font-weight: bold;}
.table-metagame-container .table-metagame tr.metagame-deck-count td:not(.deck-legend) { font-weight: bold; font-size: 29px; }
.table-metagame-container .table-metagame td.metagame-deck-image { width: 150px; padding: 10px;}
.table-metagame-container .table-metagame td.metagame-deck-image div.deck-image { border-radius: 30px 30px 80px 80px;
    margin: 0 auto; width: 120px; height: 200px;
    -webkit-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.52);
    box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.52);}
.table-metagame-container .table-metagame tr.metagame-deck-name td { font-family: 'Metropolis', serif; text-transform: uppercase;
    font-size: 17px; max-width: 120px; text-align: center; font-weight: bold; padding-top: 10px; padding-bottom: 10px;
    vertical-align: bottom; transform: scale(1, 1.05); line-height: 1.3em;}

/* HOME FORMATS*/
.formats-container .format { display: inline-block; padding: 8px 16px; background-color: #FAFAFA; border-radius: 4px;
    vertical-align: top; margin-bottom: 10px; width: 370px;}
.formats-container .format { font-family: Metropolis, Arial, serif; font-size: 14px;}
.formats-container .format h4 a { font-family: Metropolis, Arial, serif; font-size: 16px; color: initial; text-decoration: none;}
.formats-container .format h4 a[data-toggle="collapse"] span.format-icon { display: none; margin-right: 10px;}
.formats-container .format h4 a[aria-expanded="true"] span.glyphicon-folder-open { display: inline;}
.formats-container .format h4 a[aria-expanded="false"] span.glyphicon-folder-close { display: inline;}
.formats-container .format h4 a:hover { color: #23527c;}
.formats-container .format ul { padding-left: 10px; list-style-type: none;}
.formats-container .format ul li { display: flex; padding: 5px; font-family: Metropolis, Arial, serif; color: #444444;}
.formats-container .format ul li:hover { background-color: #EFEFEF;}
.formats-container .format ul li.format-empty { font-style: italic;}
.formats-container .format .home-links { float: right; margin-top: 10px; font-size: 1.4em;}
.formats-container .format .home-links span.glyphicon { border-radius: 10px;}
.formats-container .format .home-links a:hover { text-decoration: none; color: black;}
.formats-container .format .tournament-count-players { width: 80px; display: inline-block;}

/* DECKLIST */
.container .decklist { padding: 34px 40px 60px 60px; background: url("imgs/marble-white.png"); background-repeat: no-repeat; }
.container .decklist.decklist-visual { position: fixed; top: 0; left: 0; width: 1670px; }
.container .decklist * { font-family: "Gill Sans MT", Calibri, serif; }
.container .decklist h2 { text-transform: uppercase; font-size: 50px; margin-top: 0;}
.container .decklist h2 small { text-transform: none;}
.container .decklist h3 { color: #555555; margin: 10px 0 10px; text-transform: uppercase; transform: scale(1, 1.15);}
.container .decklist ul {list-style-type: none; padding-left: 0;}
.container .decklist .decklist-separator { border-color: black; width: 80px; margin-left: 0; margin-top: 10px;}
.container .decklist .decklist-main-container { vertical-align: top; width: 87%; display: inline-block;}
.container .decklist .decklist-side-container { vertical-align: top; display: inline-block; width: 200px; padding-left: 16px; margin-top: -4px;}
.container .decklist .decklist-side-container .decklist-card { top: 0;}
.container .decklist h5 { text-transform: uppercase; color: white; background-color: grey;
    padding: 10px 18px; font-size: 18px; display: inline-block;
    margin-bottom: 12px; border-top-right-radius: 16px;}
.container .decklist h5.decklist-title-main { background-color: #f5875e; margin-top: 6px;}
.container .decklist .decklist-card { position: relative; z-index: 10; display: inline-block; margin-bottom: 5px; margin-right: -2px;}
.container .decklist .decklist-card img { width: 163px;}
.container .decklist .decklist-card .decklist-card-count-shadow { position: absolute; top: 42px; right: 32px; z-index: 19; height: 0;
    border-width: 0; width: 4px; background-color: transparent; box-shadow: 0 0 12px 15px rgba(0,0,0,0.98);
    -moz-box-shadow: 0 0 12px 15px rgba(0,0,0,0.98); -webkit-box-shadow: 0 0 12px 15px rgba(0,0,0,0.98);
    -o-box-shadow: 0 0 12px 15px rgba(0,0,0,0.98);}
.container .decklist .decklist-card .decklist-card-count { position: absolute; top: 24px; right: 22px; z-index: 20;
    color: white; font-size: 22px; width: 37px; height: 36px;
    padding: 2px 12px; font-family: 'IBMPlex', serif;}
.container .decklist .decklist-side .decklist-card .decklist-card-count { top: 22px;}
.container .decklist .decklist-side .decklist-card .decklist-card-count-shadow { top: 40px;}
.container .logo { margin: 0 auto; float: right; width: 240px; margin-top: 10px; background: center /100% no-repeat url("imgs/logo.png"); height: 50px;}
.container .overlay-twitter-size { position: fixed; border: 1px solid red; border-bottom-width: 0; height: 928px; width: 1650px;
    top: 5px; left: 10px; box-sizing: content-box;}
#import-mtgmelee .form-group > * { display: block;}
input#matchups-export-mode { cursor: pointer;}
input#matchups-export-mode:checked ~ .table-matchups .matchup-deviation,
input#matchups-export-mode:checked ~ .table-matchups .matchup-count,
input#matchups-export-mode:checked ~ .table-matchups .matchup-total { display: none;}
input#matchups-export-mode:checked ~ .table-matchups sup { display: none;}
input#matchups-export-mode:checked ~ .table-matchups .matchup-mirror,
input#matchups-export-mode:checked ~ .table-matchups .matchup-slightly-negative,
input#matchups-export-mode:checked ~ .table-matchups .matchup-negative,
input#matchups-export-mode:checked ~ .table-matchups .matchup-slightly-positive,
input#matchups-export-mode:checked ~ .table-matchups .matchup-positive { background-color: white;}
input#matchups-export-mode:checked ~ .table-matchups>tbody>tr:hover { background-color: white;}
