@font-face {
    font-family: "GillSans";
    src: url("fonts/GillSans/Gill%20Sans.otf") format("opentype");
}
@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Metropolis Medium";
    src: url("fonts/Metropolis/Metropolis-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Metropolis Thin";
    src: url("fonts/Metropolis/Metropolis-Thin.otf") format("opentype");
}
@font-face {
    font-family: "IBMPlex";
    src: url("fonts/IBMPlex/IBMPlexMono-Regular.ttf") format("truetype");
}
#messages p { padding: 15px; font-size: 16px; border-radius: 3px;}
.container { margin-bottom: 20px;}
.container #main-menu { display: flex; justify-content: start; font-size: 16px; margin: 0 0 16px; padding-left: 0;}
.container #main-menu a { padding: 14px 20px; font-family: "Metropolis", Arial, serif;}
.container #main-menu a:hover { background-color: #e5f6ff; text-decoration: none;}
.container .archetypes-info { max-width: 600px;}
.container .archetypes-info .rule-remove { cursor: pointer;}
.container .link-decklists { margin-bottom: 12px;}
.container p[class^="bg-"] { padding: 15px;}
.strong {font-weight: bold;}
table.table-matchups {border-collapse: separate; border-spacing: 0 17px; table-layout: fixed; color: #555C70;}
table.table-matchups tbody * {font-family: "Metropolis", Cambria, serif;}
table.table-matchups tbody tr th {border-top: 0; text-align: center; vertical-align: bottom;}
table.table-matchups tbody tr td {text-align: center; vertical-align: middle; height: 80px; padding-top: 10px;
    border-style: solid; border-color: #9DA7C4; border-width: 1px 0 1px 0; background-color: white;}
table.table-matchups tbody tr td:first-of-type { border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-left-width: 1px;}
table.table-matchups tbody tr td:last-of-type { border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-right-width: 1px;}
table.table-matchups .matchup-deviation {font-size: 1.3em; line-height: 1em; border-top: 1px solid #55555529; padding-top: 8px; color: #919191;}
table.table-matchups .matchup-percent {font-size: 2.1em; margin: auto; margin-bottom: 5px; width: 80%; font-weight: bold;}

/*table.table-matchups .matchup-count {font-size: 0.9em; display: block; color: #818181;}
table.table-matchups .matchup-deviation {font-size: 1.4em}
table.table-matchups .matchup-percent { font-size: 2.3em;}
table td.matchup-total .matchup-percent { font-size: 2.5em!important;}*/

table td.matchup-total .matchup-percent { font-size: 2.3em; color: #222222;}
table.table-matchups th.matchup-archetype-image { width: 124px;}
table.table-matchups th.matchup-archetype-name { width: 200px;}
table.table-matchups th.matchup-total { width: 160px; font-size: 20px;}
table.table-matchups th.matchup-total .matchup-total-cell { color: white; background-color: #F5875E;
    border-radius: 6px 6px 0 0; border-width: 0; text-transform: uppercase; height: 100%; top: 8px; padding-top: 16px;}
table th.matchup-detail { width: 150px;}
table.table-matchups tbody .matchup-total { position: relative;}
table.table-matchups .matchup-total .matchup-total-cell { position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 21px);
    padding-top: 20px; background-color: white; border: 2px solid #555C70AC;}
table.table-matchups .matchup-archetype-image { height: 80px; background-position: top -30px right 50%;}
table.table-matchups .matchup-archetype-name { font-size: 20px;}
table.table-matchups td.matchup-archetype-name { text-align: left; padding-left: 14px; padding-right: 20px;}
table.table-matchups td.matchup-archetype-name .archetype-name { text-transform: uppercase; font-weight: bold;
    font-size: 1.05em; line-height: normal;}
table.table-matchups td.matchup-archetype-name .archetype-count { color: #9197a8; font-size: 0.9em;}
table.table-matchups tbody tr td:nth-child(2n+5) {background-color: #F7F5F5;}
table.table-matchups tbody tr td.matchup-negative {color: #C75C5C;}
table.table-matchups tbody tr td.matchup-positive {color: #56AC59;}
table.table-matchups tbody tr td.matchup-positive.matchup-highlighted,
table.table-matchups tbody tr td.matchup-positive.matchup-highlighted .matchup-total-cell {background-color: #EBF6E5;}
table.table-matchups tbody tr td.matchup-negative.matchup-highlighted,
table.table-matchups tbody tr td.matchup-negative.matchup-highlighted .matchup-total-cell {background-color: #F8EAEA;}
table.table-matchups tbody tr td.matchup-even { color: #5B6275;}
/*table.table-matchups tbody tr td[class*="matchup-"]:not(.matchup-archetype-name) {border-width: 3px; border-style: solid;}*/
table.table-matchups .round-dot { height: 32px; width: 32px; background-color: #DADEE8; border-radius: 50%; display: inline-block;}
table.table-matchups.table-legend { position: relative; border-spacing: 0; margin-right: 50px;}
table.table-matchups.table-legend td { width: 170px; height: 100px;}
table.table-matchups.table-legend .matchup-percent { border-bottom: 1px solid #55555529;}
table.table-matchups.table-legend .matchup-deviation { border-top: 0;}
table.table-archetypes th.archetype-image { width: 160px;}
table.table-archetypes td.archetype-image { height: 116px;}
table.table-archetypes td.archetype-name { font-weight: bold; font-size: 18px; text-transform: uppercase;}
table.table-archetypes * { font-family: Metropolis, serif;}
.container .matchups-container { padding: 30px 50px 30px; background: 0 0 /100% url("imgs/marble-white.png"); background-repeat: no-repeat;
    width: fit-content;}
.container .matchups-container .legend-container { display: flex;}
.container .matchups-container .legend { margin-right: 10px; font-size: 1.3em;}
.container .matchups-container .legend * { font-family: Metropolis, Arial, serif;}
.container .matchups-container .legend .matchup-highlighted { height: 40px; width: 46px; border-radius: 4px;
    border: 1px solid #555C70AC; margin-right: 6px; display: inline-block;}
.container .matchups-container .legend .matchup-positive { background-color: #EBF6E5;}
.container .matchups-container .legend .matchup-negative { background-color: #F8EAEA;}
.container .matchups-container h1 { font-family: "GillSans", Arial, serif; font-size: 5em; text-transform: uppercase;}
.container .matchups-container h3 { font-family: "Metropolis", Arial, serif; margin-top: 10px; font-size: 2.2em;}
.container .matchups-container hr { width: 5%; border-color: black; margin: 12px 0 10px;}
.container .winrate-slightly-negative {color: red;}
.container .winrate-negative {color: red; font-weight: bold;}
.container .winrate-slightly-positive {color: green;}
.container .winrate-positive {color: green; font-weight: bold;}
table.table-players tbody tr td {vertical-align: middle;}
table td.highlight { font-weight: bold}
table.archetype-analysis .card-exclude { color: red; font-size: 1.2em; cursor: pointer;}
table.archetype-analysis .card-include { color: green; font-size: 1.2em; cursor: pointer;}
.container form.loading { pointer-events: none; opacity: 0.6;}
.container .confidence-interval { font-size: 0.8em; font-style: italic;}
.dashboard-container .btn-default { font-size: 18px; margin-bottom: 18px;}

/* SEARCH FORM */
.container #search-form { margin-top: 40px; margin-bottom: 20px;}
.container #search-form .form-group { position: relative; width: 100%;}
.container #search-form input[type='text'] { padding: 30px 20px; font-size: 30px; font-weight: bold; color: #666666;
    padding-right: 60px; width: 100%;}
.container #search-form button[type='submit'] { position: absolute; right: 6px; top: 5px; font-size: 32px;
    background-color: transparent; color: #ff8d00; border: 0 solid transparent;}
.container #search-form button[type='submit']:focus {border: 0 solid transparent;}
.container #search-form button[type='submit']:active {box-shadow: none;}
.container .table-results i.ms { font-size: 14px; padding: 2px;}

/* METAGAME */
.table-metagame-container .background-placeholder { background: 0 0 /100% url("imgs/marble-white.png");
    background-repeat: no-repeat; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.4; z-index: -1;}
.table-metagame-container { width: 1160px; height: 620px; padding: 20px 24px; position: relative;}
.table-metagame-container h2 { font-family: "GillSans", Arial, serif; font-size: 3em; text-transform: uppercase;
    margin-top: 0; margin-bottom: 5px;}
.table-metagame-container h3 { font-family: "Metropolis Thin", Arial, serif; margin-top: 5px; font-size: 1.6em;}
.table-metagame-container hr { text-align: left; border-top-color: #000000; margin: 0;}
.table-metagame-container .legend p { font-family: 'Metropolis', Arial, serif; margin-bottom: 0;}
.table-metagame-container .legend-container .logo { width: 160px; margin-top: 0;}
.table-metagame-container .table-metagame { margin-bottom: 16px; margin-top: 8px;}
.table-metagame-container .table-metagame td { text-align: center; font-size: 20px; font-family: 'GillSans', Arial, serif;}
.table-metagame-container .table-metagame td sup.percent-placeholder { visibility: hidden;}
.table-metagame-container .table-metagame tr.metagame-deck-count { background-color: #F3F3F3;}
.table-metagame-container .table-metagame tr td.deck-legend { text-align: left; color: #858dA5; font-size: 14px;
    width: 90px; font-family: 'Metropolis Thin', serif;}
.table-metagame-container .table-metagame tr.metagame-deck-percent td,
.table-metagame-container .table-metagame tr.metagame-deck-count td { padding: 10px 20px;}
.table-metagame-container .table-metagame tr.metagame-deck-percent td:not(.deck-legend) { color: #EF845C; font-size: 30px; font-weight: bold;}
.table-metagame-container .table-metagame tr.metagame-deck-count td:not(.deck-legend) { font-weight: bold; font-size: 28px; }
.table-metagame-container .table-metagame tr.metagame-deck-winrate .winrate-positive { color: #65C682;}
.table-metagame-container .table-metagame tr.metagame-deck-winrate .winrate-negative { color: #D14042;}
.table-metagame-container .table-metagame td.metagame-deck-image { width: 150px; padding: 10px;}
.table-metagame-container .table-metagame td.metagame-deck-image div.deck-image { border-radius: 30px 30px 80px 80px;
    margin: 0 auto; width: 120px; height: 200px;
    -webkit-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.52);
    box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.52);}
.table-metagame-container .table-metagame tr.metagame-deck-name td { font-family: 'Metropolis', serif; text-transform: uppercase;
    font-size: 17px; max-width: 120px; text-align: center; font-weight: bold; padding-top: 10px; padding-bottom: 10px;
    vertical-align: bottom; transform: scale(1, 1.05); line-height: 1.3em;}

/* HOMEPAGE FORMATS */
.formats-container .format { display: inline-block; padding: 8px 16px; background-color: #FAFAFA; border-radius: 4px;
    vertical-align: top; margin-bottom: 10px; width: 49.7%;}
.formats-container .format { font-family: Metropolis, Arial, serif; font-size: 14px;}
.formats-container .format h4 a { font-family: Metropolis, Arial, serif; font-size: 16px; color: initial; text-decoration: none;}
.formats-container .format h4 a[data-toggle="collapse"] span.format-icon { display: none; margin-right: 10px;}
.formats-container .format h4 a[aria-expanded="true"] span.glyphicon-folder-open { display: inline;}
.formats-container .format h4 a[aria-expanded="false"] span.glyphicon-folder-close { display: inline;}
.formats-container .format h4 a:hover { color: #23527c;}
.formats-container .format ul { padding-left: 10px; list-style-type: none;}
.formats-container .format ul li { display: flex; padding: 5px; color: #444444;}
.formats-container .format ul li *:not(.glyphicon) { font-family: 'Metropolis Thin', Arial, serif;}
.formats-container .format ul li:hover { background-color: #EFEFEF;}
.formats-container .format ul li.format-empty { font-style: italic;}
.formats-container .format .home-links { float: right; margin-top: 10px; font-size: 1.4em; visibility: hidden;}
.formats-container .format:hover .home-links { visibility: visible;}
.formats-container .format .home-links span.glyphicon { border-radius: 10px;}
.formats-container .format .home-links a:hover { text-decoration: none; color: black;}
.formats-container .format .tournament-info-icon { width: 64px; display: inline-block; flex: 0 0 auto;}
.formats-container .format .tournament-info-icon.tournament-count-rounds { width: 46px;}
.formats-container .link-full { display: block; margin: 0 auto; width: 110px;}
.container form#create-format { font-family: 'Metropolis', Arial, serif; margin: 10px 0 20px;}

/* 404 */
.container-not-found { position: relative; height: 570px; width: 970px; text-align: center; color: #333333;
    font-family: "Metropolis", Arial, serif; }
.container-not-found .background-placeholder { top: 0; bottom: 0; left: 0; right: 0; position: absolute;
    background: 0 0 /100% url(https://i.pinimg.com/originals/b5/f4/cb/b5f4cb379001310afa13284dd81ae8a7.jpg);
    background-repeat: no-repeat; opacity: 0.4; z-index: -1;}
.container-not-found p { font-size: 16px;}
.container-not-found h1 { font-size: 44px;}

/* LEADERBOARD */
.container-leaderboard { position: relative; padding: 30px;}
.container-leaderboard h2 { font-size: 54px; text-transform: uppercase; font-weight: bold;}
.container-leaderboard h3 { font-size: 34px; text-transform: uppercase; margin-top: 10px;}
.container-leaderboard hr { width: 10%; border-color: black; margin: 12px 0 10px;}
.container-leaderboard .background-placeholder { background: 0 0 /auto 100% url(../../includes/components/./metagamer/imgs/marble-white.png);
    background-repeat: no-repeat; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.4; z-index: -1;}
.table-leaderboard { width: auto; margin-bottom: 10px;}
.container-leaderboard h2, .container-leaderboard h3,
.container-leaderboard td, .container-leaderboard th,
.container-leaderboard p, .container-leaderboard strong { font-family: Metropolis, Arial, serif;}
table.table-leaderboard thead tr th { border-bottom-width: 0; font-size: 16px;}
table.table-leaderboard tbody tr td { font-size: 22px; vertical-align: bottom; border-top-width: 0; border-bottom: 1px solid #D9D9D9;}
table.table-leaderboard.leaderboard-detailed tbody tr td { font-size: 16px;}
.table-leaderboard th.player-rank { width: 40px;}
.table-leaderboard th.player-flag { width: 50px;}
.table-leaderboard th.player-diff { width: 60px;}
.table-leaderboard th.player-name { width: 400px;}
.table-leaderboard th.player-points { width: 90px; text-align: center;}
.table-leaderboard th.player-matches { width: 150px; text-align: center;}
.table-leaderboard th.player-finish { width: 240px; text-align: center; padding-left: 30px;}
.table-leaderboard td.player-finish { border-width: 0; position: relative;}
.table-leaderboard td.player-flag { text-align: center;}
.table-leaderboard td.player-diff { color: #808080; font-size: 18px; text-align: center; padding-bottom: 10px;}
.table-leaderboard td.player-diff span.glyphicon { font-size: 0.8em;}
.table-leaderboard td.player-diff.diff-positive { color: #159B3A;}
.table-leaderboard td.player-diff.diff-negative { color: #CB3D3D;}
.table-leaderboard td.player-finish .player-finish-image { width: 180px; background: #1c1c1c; border-radius: 8px;
    /*background: transparent linear-gradient(202deg, #505050 0%, #000000 98%, #656564 100%) 0% 0% no-repeat padding-box;*/
    display: flex; position: absolute; top: 4px; bottom: 4px; left: 30px; right: 10px;}
.table-leaderboard td.player-finish img { width: 140px; margin: auto;}
.table-leaderboard td.player-name { text-transform: uppercase; font-size: 20px;}
.table-leaderboard td.player-name.player-mpl-next { color: #F5875E; font-weight: bold;}
.table-leaderboard td.player-rank,
.table-leaderboard td.player-points,
.table-leaderboard td.player-matches { text-align: center; font-size: 20px;
    font-family: 'Metropolis Medium', Metropolis, Arial, serif; font-weight: normal;}
.table-leaderboard .flag-icon { border-radius: 30px; font-size: 1.3em; margin-top: -1px; /*margin-right: 1px;*/
    border: 1px solid #DDDDDD; box-sizing: content-box; height: 28px; width: 28px;}
.table-leaderboard tr.row-spacer td { color: #F5875E; font-size: 15px; font-style: italic;}
.table-leaderboard tr.row-spacer td { border: 0;}
.container-leaderboard .legend { color: #666666; width: 90%;}
.container-leaderboard .legend .main-legend { display: flex; flex-direction: row; color: #000000; font-size: 22px;
    justify-content: space-between; margin-top: 26px;}
.container-leaderboard .legend .main-legend > * { flex: 0 0 auto;}
.container-leaderboard .legend img { vertical-align: sub; height: 32px;}
.container-leaderboard .legend .legend-copyright { font-size: 10px; text-align: center;}
.container-leaderboard .legend .legend-rules { word-spacing: -0.5px;}

/* CARD PAGE */
.container-card { display: flex; flex-direction: row; margin-bottom: 30px;}
.container-card .card-image { flex: 1 1 400px; padding: 10px 20px;}
.container-card .card-image img { max-width: 350px;}
.container-card .card-content-container { flex: 1 1 700px; padding: 20px 30px; background-color: #FAFAFA;}
.container-card .card-content-container h2 { margin-top: 0;}
.container-card .card-content { max-width: 350px; font-family: Metropolis, Arial, serif; font-size: 20px;}
.container-card .card-content table { width: 100%;}
.container-card .card-content table td { border-bottom: 1px solid #DDDDDD; padding: 12px 6px;}

/* MANA SYMBOLS */
.container i.ms { font-size: 20px; margin: 2px; border: 1px solid #DDDDDD; border-radius: 15px; padding: 4px;}

/* ARCHETYPE PAGE */
.archetype-container { display: flex; margin-bottom: 30px;}
.archetype-container .archetype-image { border-radius: 16px; width: 250px; height: 160px;}
.archetype-container .archetype-info { padding: 0 24px;}
.archetype-container .archetype-info * { font-family: "Metropolis", Arial, serif;}
.archetype-container .archetype-info h2 { font-family: "GillSans", Arial, serif; font-size: 46px; text-transform: uppercase;}
.archetype-container .archetype-info h4 { text-transform: uppercase; color: #666666;}

/* COVERAGE PAGES */
.container-coverage .upper { text-transform: uppercase;}
.container-coverage .flag-icon { border-radius: 40px; border: 1px solid #DDDDDD;}
.container .container-coverage .logo { width: 180px; margin-top: 0;}
.container-coverage h1 { font-family: Metropolis, serif; font-size: 40px;}
.container-coverage h3 { font-family: "Metropolis Thin", Metropolis, serif;}
.container-coverage .search.input-group input { font-family: Metropolis, serif;}
.container-coverage .tournament-link h4 { font-family: Metropolis, serif; font-size: 24px;}
.container-coverage .tournament-link { display: flex; font-family: "Metropolis Thin", Metropolis, serif;}
.container-coverage .tournament-image { width: 200px;}
.container-coverage .tournament-image img { width: 100%;}
.container-coverage .tournament-info { padding: 0 20px; font-size: 16px;}
.container-coverage .tournament-date { font-family: 'Metropolis Thin', Arial, serif;}
.container-coverage .tournament-count-players { font-family: Metropolis, Arial, serif;}
.table-standings { font-size: 16px; border: 0;}
.table-standings th.image-archetype { width: 84px;}
.table-standings th.icon-player { width: 52px;}
.table-standings th,
.table-standings th div,
.table-standings td { font-family: Metropolis, Arial, serif;}
.table-standings.table-bordered>tbody>tr>td,
.table-standings.table-bordered>thead>tr>th {border: 0; border-top: 1px solid #DDDDDD;}
.table-standings th.archetype-decklists { width: 100px;}
.table-standings td.name-archetype { text-transform: uppercase; font-size: 1.3em;}
.table-standings td.name-player { text-transform: capitalize;}
.table-standings td.icon-player img { height: 48px;}
.table-standings.table-french td.icon-player img { height: 76px;}
.table-standings td.image-archetype { position: relative; overflow: hidden; pointer-events: none;}
.table-standings td.image-archetype img { position: absolute; top: -19px; left: -8px; width: 100px; display: block;}
table.table-standings:not(.table-french)>tbody>tr>td.icon-player { padding: 3px 8px;}
.container-coverage .table-standings.table-french td.player-image { padding: 0; height: 160px; pointer-events: none;}
.container-coverage .table-standings.table-french td.player-image img { height: 100%;}
.container-coverage .table-standings.table-french td.player-name { text-transform: uppercase; font-size: 22px;}
.container-coverage .table-standings.table-french th.player-score { text-align: center;}
.container-coverage .table-standings.table-french td.player-score { text-align: center; font-size: 20px;}
.container-coverage .table-standings.table-french tr.disabled { opacity: 0.5;}
.container-coverage .legend { font-style: italic; font-family: 'Metropolis Thin', Arial, serif; margin-top: 10px;}

/* DECKLIST */
.container .decklist .background-placeholder { background: 0 0 /100% #FFFFFF;
    background-repeat: no-repeat; position: absolute; top: 0; left: 0; opacity: 1; z-index: -1; width: 2560px; height: 1800px; }
.container .decklist.decklist-visual { position: fixed; top: 0; left: 0; width: 1690px; padding: 34px 40px 60px 60px; }
.container .decklist * { font-family: "GillSans", Calibri, serif; }
.container .decklist h2 { text-transform: uppercase; font-size: 50px; margin-top: 0;}
.container .decklist h2 small { text-transform: none;}
.container .decklist h3 { color: #555555; margin: 10px 0 10px; text-transform: uppercase; transform: scale(1, 1.15);
    font-family: Metropolis, Arial, serif;}
.container .decklist ul {list-style-type: none; padding-left: 0;}
.container .decklist .decklist-separator { border-color: black; width: 80px; margin-left: 0; margin-top: 10px;}
.container .decklist .decklist-main-container { vertical-align: top; width: 1360px; display: inline-block;}
.container .decklist .decklist-side-container { vertical-align: top; display: inline-block; max-width: 220px; padding-left: 14px; margin-top: -4px;}
.container .decklist .decklist-side-container .decklist-card { top: 0;}
.container .decklist h5 { text-transform: uppercase; color: white; background-color: grey;
    padding: 14px 15px 10px; font-size: 18px; display: inline-block; font-family: Metropolis, Arial, serif;
    margin-bottom: 12px; border-top-right-radius: 16px;}
.container .decklist h5.decklist-title-main { background-color: #F5875E; margin-top: 6px; }
.container .decklist .decklist-card { position: relative; z-index: 10; display: inline-block; margin-bottom: 5px; margin-right: -2px;}
.container .decklist .decklist-card img { width: 163px;}
.container .decklist .decklist-card .decklist-card-count-shadow { position: absolute; top: 42px; right: 32px; z-index: 19; height: 0;
    border-width: 0; width: 4px; background-color: transparent; box-shadow: 0 0 12px 15px rgba(0,0,0,0.98);
    -moz-box-shadow: 0 0 12px 15px rgba(0,0,0,0.98); -webkit-box-shadow: 0 0 12px 15px rgba(0,0,0,0.98);
    -o-box-shadow: 0 0 12px 15px rgba(0,0,0,0.98);}
.container .decklist .decklist-card .decklist-card-count { position: absolute; top: 24px; right: 22px; z-index: 20;
    color: white; font-size: 22px; width: 37px; height: 36px;
    padding: 2px 12px; font-family: 'IBMPlex', serif;}
.container .decklist .decklist-side .decklist-card .decklist-card-count { top: 22px;}
.container .decklist .decklist-side .decklist-card .decklist-card-count-shadow { top: 40px;}
.container .logo { float: right; width: 240px; margin-top: 10px; background: center /100% no-repeat url("imgs/logo.png"); height: 50px;}
/*.container .logo { float: right; width: 150px; margin-right: 33px; background: center /100% no-repeat url(../../includes/components/./metagamer/imgs/logo-perf-series.png); height: 110px;}*/
.container .overlay-twitter-size { position: fixed; border: 1px solid red; border-bottom-width: 0; height: 928px; width: 1650px;
    top: 5px; left: 10px; box-sizing: content-box;}
.container .decklist .decklist-card .decklist-card-diff { color: #B8EDEB; font-size: 15px; font-family: Metropolis; padding-top: 8px;}
.container .decklist .decklist-card .decklist-card-diff.decklist-card-diff-negative { color: #FF4500;}
.container .decklist .decklist-card .decklist-card-diff.decklist-card-diff-positive { color: #ACFF2F;}

/* IMPORT TOURNAMENT */
#import-mtgmelee .form-group > * { display: block;}
#import-mtgmelee input[name="import-mtgmelee[tournament_name]"] { width: 100%;}

input#matchups-export-mode { cursor: pointer;}
input#matchups-export-mode:checked ~ .matchups-container { background: white;}
input#matchups-export-mode:checked ~ .matchups-container th.matchup-archetype-image { width: 1px;}
input#matchups-export-mode:checked ~ .matchups-container .legend-container,
input#matchups-export-mode:checked ~ .matchups-container .archetype-count,
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-deviation,
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-count { display: none;}
input#matchups-export-mode:checked ~ .matchups-container .table-matchups sup { display: none;}
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-mirror,
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-slightly-negative,
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-negative,
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-slightly-positive,
input#matchups-export-mode:checked ~ .matchups-container .table-matchups .matchup-positive { background-color: white;}
input#matchups-export-mode:checked ~ .matchups-container .table-matchups>tbody>tr:hover { background-color: white;}

.sticky { position: fixed; top: 0; width: 1140px;}
.sticky + .table-french { margin-top: 200px;}